<div class="container mt-4">
  <h3 class="mb-3">Add New User</h3>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>

    <div class="mb-3">
      <label class="form-label">First Name</label>
      <input type="text" formControlName="firstName" class="form-control" placeholder="Enter first name">
      @if(firstName.touched && firstName.errors)
      {
      <div class="mt-1 text-danger small">First Name cannot be empty</div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Last Name</label>
      <input type="text" formControlName="lastName" class="form-control" placeholder="Enter last name">
      @if(lastName.touched && lastName.errors)
      {
      <div class="mt-1 text-danger small">Last Name cannot be empty</div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="text" formControlName="email" class="form-control" placeholder="Enter Email">
      @if(email.touched && email.errors)
      {
        <div class="mt-1 text-danger small">Invalid Email</div>
      }
    </div>
    
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control" placeholder="Enter password">
      </div>
      @if(password.touched && password.errors?.required)
      {
        <div class="mt-1 text-danger small">Password cannot be empty</div>
      }
      <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm password">
      </div>
      @if (confirmPassword.touched) {
        @if (userForm.errors?.['passwordMismatch']) {
          <div class="mt-1 text-danger small">Passwords do not match</div>
        }
        @if(confirmPassword.errors?.required){
          <div class="mt-1 text-danger small">Confirm Password cannot be empty</div>
        }
      }

    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" formControlName="username" class="form-control" placeholder="Enter Username">
      @if(username.touched && username.errors)
      {
        @if(username.errors?.required){
          <div class="mt-1 text-danger small">Invalid Username</div>
        }
        @if(username.errors?.bannedWordsError){
          <div class="mt-1 text-danger small">Username cannot contain words like admin, root, user, moderator</div>
        }
      }
    </div>
    
    <div class="mb-3">
      <label class="form-label">Gender</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="gender" id="male" value="male" checked>
        <label class="form-check-label" for="male">Male</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="gender" id="female" value="female">
        <label class="form-check-label" for="female">Female</label>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Age</label>
      <input type="number" formControlName="age" class="form-control" placeholder="Enter age" #age>
    </div>

    <div class="mb-3">
      <label class="form-label">Image</label>
      <input type="file" class="form-control" (change)="onImageSelected($event)">
    </div>
    <div class="mb-3">
      <label class="form-label">Role</label>
      <select class="form-select" formControlName="role" #role>
        <option value="admin">Admin</option>
        <option value="moderator">Moderator</option>
        <option value="user">User</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Add User</button>
  </form>
</div>