.loginDiv{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    /* padding: 10px; */
}

.loginForm{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    margin-top: 10px;
}